<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SubaoMart.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D729EF7D1BFD6C3B002DEAF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D729EF961BFD6C3C002DEAF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D729EFA11BFD6C3C002DEAF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
